*{
    padding: 0;
    margin: 0;
}

:root{
    --color-principal: #F3F5FC;
    --color-gris-boton-desencriptador: #D8DFE8;
    --color-gris-boton-encriptador: #0A3871;
    --color-texto-resultado: #d8dfe8;
}

.caja{
    display: flex;
    background-color: var(--color-principal);
    width: 100%;
    height: 610px;
}

.caja_imagen{
    width: 10%;
}

.caja_imagen_logo{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.caja_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 55%;
    height: 80%;
}

.caja_texto_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
}

.caja_texto_texto_intro{
    width: 80%;
    height: 100%;
}

.caja_texto_base{
    width: 80%;
}

.caja_texto_base_texto{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.caja_texto_base_boton{
    display: flex;
    justify-content: space-between;
}

#boton{
    margin-top: 2%;
    width: 45%;
    height: 35px;
    border-radius: 10px;
    border: 10px;
}

#boton:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

.caja_texto_base_boton_encriptar{
    background-color: var(--color-gris-boton-encriptador);
    color: white;
    border-color: var(--color-gris-boton-encriptador)
}

.caja_texto_base_boton_desencriptar{
    background-color: var(--color-gris-boton-desencriptador);
    color: var(--color-gris-boton-encriptador);
    border-color: var(--color-gris-boton-encriptador);
}

.caja_texto_texto_intro{
    resize: none;
    border: none;
    background-color: var(--color-principal);
}

.caja_resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 80%;
}

.caja_resultado_contenedor{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 85%;
    height: 100%;
    border-radius: 20px;
}

.caja_resultado_contenedor_img{
    width: 65%;
}

.caja_resultado_contenedor_texto{
    margin-top: 20%;
    width: 65%;
}

.caja_resultado_contenedor_msj1{
    text-align: center;
    font-size: 25px;
}

.caja_resultado_contenedor_msj2{
    text-align: center;
    margin-top: 5%;
}

.texto_area_respuesta{
    width: 80%;
    height: 80%;
    resize: none;
    border: none;
}

.boton_copiar{
    background-color: #0A3871;
    color: #D8DFE8;
}

@media (max-width: 800px){
    .caja{
        display: flex;
        flex-direction: column;
    }
    .caja_resultado_muneco{
        display: none;
    }
}

@media (max-width: 420px){

}